<div class="days-container" *ngIf="forecast && forecast.length > 0">
  <div class="day-block" *ngFor="let day of forecast">
    <div class="day-header">
      <h3>{{ day.date | date:'EEEE, d MMM' | titlecase }}</h3>
      <span class="max-temp" *ngIf="day.items && day.items.length > 0">Max: {{ getMaxTemp(day.items) | number:'1.0-0' }}°</span>
    </div>
    
    <div class="daily-carousel">
      <div class="carousel-item" *ngFor="let item of day.items">
         <span class="time">{{ item.dt_txt | date:'HH:mm' }}</span>
         <img [src]="getIconUrl(item.weather[0].icon)" alt="icon">
         <span class="temp">{{ item.main.temp | number:'1.0-0' }}°</span>
         <span class="precip" *ngIf="item.pop > 0">💧{{ (item.pop * 100) | number:'1.0-0' }}%</span>
      </div>
    </div>
  </div>
</div>
