.search-container {
    --background: #1e1e1e; // Dark card background
    --color: white;
    --padding-start: 10px;
    --border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);

    ion-input {
        --placeholder-color: #aaa;
        --color: white;
        font-weight: 500;
    }

    ion-button {
        --color: #bb86fc;
    }
}